/*
=============================
SHARED CSS
=============================
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
html{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
.container{
    display:flex;
    height:100vh;
    width:100vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    
}


/*
=============================
OUTER GRID CSS
=============================
*/

.outer-grid{
    display:grid;
    height: 95%;
    width:95%;
    margin:2%;
    background-color:white; 
    grid-template-rows: 60px 1fr; 
    grid-template-areas: "alias-header"
    "alias-innergrid ";
}

/*
=============================
INNER GRID CSS
=============================
*/
.inner-grid{
    display:grid;
    grid-area: alias-innergrid;
   
   
}

 /*
=============================
HEADER STYLES
=============================
*/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2%;
    font-size: 1rem;
}
nav ul{
    display:none;
}
/*
=============================
ARTICLE STYLES
=============================
*/
main{
    padding:1%;
}
#image-2{
    display: none;
}
.article h1{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 3rem;
    color:#00001a;
}
.article p{
    font-weight: 400;
    font-size: 1rem;
    color:#5d5f79;
    margin-bottom: 20px;
    line-height:1.6; 
    opacity: 0.7;
}
.article button{
  padding:15px 32px;
  background-color:hsl(5, 85%, 63%) ;
  color:hsl(36, 100%, 99%);
  cursor: pointer;
  text-align: center;
  border: none;
  margin-bottom: 60px;
  letter-spacing: 5px;
}
/*
=============================
ASIDE STYLES
=============================
*/
aside{
    padding:7% 5%;
    background-color: #0a0a3a;
    margin-bottom: 20px;
}
aside h2{
    color:hsl(35, 77%, 62%);
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
aside h4{
  color:#f1f1f1;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
aside p{
    color:#f1f1f1;
    opacity:0.7;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 30px;
    color:#f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 30px;
    line-height: 1.8;
}
.aside-para{
    border:none;
    padding-bottom: 10px;
    margin-bottom: 0;
}
/*
=============================
SECTION STYLES
=============================
*/
#sections{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#sections img{
    flex-basis: 30%;
    height:auto;
    width:30%;
    margin-right: 5%;
   
}
.text-in-section{
    flex-basis: 70%;
}
.text-in-section h1{
    color:#c5c6ce;
    padding-bottom: 10px;
}
.text-in-section h4{
    color:#00001a; 
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.text-in-section p{
    color:#7e8198;
    line-height: 1.4;
}

/*
=============================
TOGGLE MENU
=============================
*/
.container-overlay{
    display:flex;
    height:100vh;
    width:100vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.3); 
   
}
.outer-grid-overlay{
    display:grid;
    height: 95%;
    width:95%;
    margin:2%;
    background-color:rgba(0,0,0,0); 
    grid-template-rows: 60px 1fr; 
    grid-template-areas: "alias-header"
    "alias-innergrid ";
   
}


.overlay{
    position:fixed;
    height:100%;
    width:70%;
    left:30%;
    z-index:5;
    background-color: white;
    overflow-x: hidden;
    display:none;
}
.overlay-content{
    position: relative;
    padding-left: 10%;
  top: 15%; 
  text-align: left; 
  margin-top: 30px; 
}
.overlay a {
    padding: 8px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
    display: block; 
  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  .closebtn {
    position: absolute;
    top: 40px;
    right: 45px;
    z-index:10;
    fill:black;
  }
 /*
=============================
RESPONSIVE IMAGE
=============================
*/ 
.responsive{
    width: 100%;
  height: auto;
}

 /*
=============================
BREAKPOINTS
=============================
*/
  @media(min-width:576px){
    .container{
        height:900px;
        width:1440px;
        overflow:hidden;
    }
    
    .outer-grid{
        height:90%;
        width:80%;
        grid-template-rows: 80px 1fr; 
        grid-template-areas: "alias-header"
               "alias-innergrid ";
    }
    .inner-grid{
        grid-template-rows: 550px 130px;
        grid-template-areas: 
        "alias-main alias-main alias-aside"
        "alias-section1 alias-section2 alias-section3";
    }
    nav svg{
        display:none;
    }
    header{
        grid-area:alias-header ;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
       gap:20px;
    }
    nav li{
        list-style: none;
        font-weight: 400;
        font-size: 1rem;
        color:#5d5f79;
        cursor:pointer;
    }
    nav li:hover{
       color:red;
    }
     main{
      grid-area: alias-main;
      
    }
    #image-1{
        display:none;
    }
    #image-2{
        display:block;
    }
    .responsive{
        width: 100%;
      height: auto;
    }
    .article-text{
        display:flex;
        margin-top: 20px;
    }
    article h1{
        font-size:2.6rem;
      flex-basis:40% ;
      margin-left: 20px;
    }
    .article-flex-items{
      flex-basis: 60%;
      padding-top: 10px;
    }
    .article button{
        margin-top: 20px;
        margin-bottom: 0;
      }
    aside{
        grid-area: alias-aside;
        margin-left: 20px; 
        padding:8%;
       margin-bottom: auto;
    }
    aside h2{
        font-size: 2rem;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    aside h4{
        font-size: 1rem;
      }
      aside p{
          
          font-size: 0.7rem;
          padding-bottom: 35px;
          margin-bottom: 35px;
          line-height: 2;
      }
      #sections{
        margin-right: 20px;
       margin-top: 40px;
    }
    #sections img{
        flex-basis: 30%;
        height:auto;
        width:30%;
        margin-right: 5%;
       
    }
    .text-in-section{
        flex-basis: 60%;
    }
    .text-in-section h1{
        color:#c5c6ce;
        padding-bottom: 10px;
        font-size: 2rem;
    }
    .text-in-section h4{
        color:#00001a; 
        font-weight: 700;
        padding-bottom: 10px;
        font-size: 1.2rem;
    }
    
   .section-1{
        grid-area: alias-section1;
    }
    .section-2{
        grid-area: alias-section2;    
    }
    .section-3{
        grid-area: alias-section3; 
    }
    
    
}    
    

